[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "interactionRCS"]
	path = interactionRCS
	url = https://github.com/gmelloni/interactionrcs
[submodule "LowMACA"]
	path = LowMACA
	url = https://git.bioconductor.org/packages/LowMACA
